<div class="well">
    <h3 class="text-center">
        {{ title }}
    </h3>
</div>

<div class="row">
	<div class="col-md-6 col-md-offset-3">

		<div class="well">
			<div class="btn-group btn-group-justified">
				<a href="" [routerLink]="['/passenger', 'create']" class="btn btn-primary">Create Passenger</a>
				<a href="" [routerLink]="['/passenger', 1, 'edit']" class="btn btn-primary">Edit Passenger</a>
			</div>
		</div>

		<form [formGroup]="passengerForm" novalidate (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label for="name">Name:</label>
                <br>
                <input type="text" class="form-control" formControlName="name" required>
            </div>

			<div class="form-group">
				<label for="numberofPassenger">Number Of Passenger:</label>
				<br>
				<input type="text" class="form-control" formControlName="numberofPassenger">
			</div>   
			
            <div formArrayName="cities" class="well">

				<div class="well" style="background: #C00C00">
					<b>	Address {{i + 1}} </b>
					<span class="glyphicon glyphicon-remove pull-right" *ngIf="passengerForm.controls.cities.controls.length > 1" (click)="removeAddress(i)"></span>
				</div>
					
				<div *ngFor="let city of passengerForm.controls['cities'].controls; let i = index">
                    <div formGroupName="{{i}}"> 
                        <div class="form-group">
                            <label for="street">City Name : </label>
                            <br>
                            <input type="text" class="form-control" formControlName="cityName">
						</div>
						
						<div formArrayName="places">
							<div *ngFor="let place of city.controls['places'].controls; let j = index">
								<div class="place-box" formGroupName="{{j}}">
									<div class="form-group">
										<label for="street">Place Name : </label>
										<br>
										<input type="text" class="form-control" formControlName="placeName">
									</div>
								</div>
							</div>
						</div>



                    </div>
                </div>
            </div>
			<div class="row">
				<div class="col-xs-12">
					<button class="ui secondary basic button" (click)="onCancel()">Cancel</button>
					<!-- <button type="submit" *ngIf="!isEditing" class="ui primary basic button" [disabled]="!passangerForm.valid" >Save</button>
					<button type="submit" *ngIf="isEditing" class="ui primary basic button" [disabled]="!passangerForm.valid" >Update</button> -->
				</div>
			</div>
		</form>
	</div>
</div>
<br>
<br>

<div class="row">
	<div class="col-md-6 col-md-offset-3">
		<pre>{{ passengerForm.value | json }}</pre>  
	</div>
</div>
