<div class="well">
    <h1 class="text-center">
        {{ title }}
    </h1>
</div>

 <div class="row">
    <div class="col-md-4 col-md-offset-4">

        <div class="well">
            <h3>
                CUSTOMER INFO
            </h3>
        </div>
<!-- 
        <form [formGroup]="userForm" novalidate (ngSubmit)="onSubmit()">

            <div class="form-group">
                <label for="name">Name:</label>
                <br>
                <input type="text" class="form-control" formControlName="name" required>
            </div>

            <div class="form-group">
                <label for="email">Email:</label>
                <br>
                <input type="text" class="form-control" formControlName="email">
            </div> 

            <div class="form-group">
                <label for="phone">Phone:</label>
                <br>
                <input type="text" class="form-control" formControlName="phone">
            </div> 

            <div formArrayName="addresses">
                <div *ngFor="let address of userForm.controls.addresses.controls; let i = index">

                    <div class="well" style="background: #C00C00">
                        <b>Address {{i + 1}}</b>
                        <span class="glyphicon glyphicon-remove pull-right" *ngIf="userForm.controls.addresses.controls.length > 1" (click)="removeAddress(i)"></span>
                    </div>

                    <div [formGroupName]="i" class="well">
                        <div class="form-group">
                            <label for="street">Street:</label>
                            <br>
                            <input type="text" class="form-control" formControlName="street">
                        </div>

                        <div class="form-group">
                            <label for="city">City:</label>
                            <br>
                            <input type="text" class="form-control" formControlName="city">
                        </div>

                        <div class="form-group">
                            <label for="state">State:</label>
                            <br>
                            <input type="text" class="form-control" formControlName="state">
                        </div>

                        <div class="form-group">
                            <label for="zipcode">Zipcode:</label>
                            <br>
                            <input type="text" class="form-control" formControlName="zipcode">
                        </div>

                        <div class="form-group">
                            <label for="numberOfChildren">Number Of Children:</label>
                            <br>
                            <input type="text" class="form-control" formControlName="numberOfChildren">
                        </div>


                        <div class="form-group">
                            <label for="children">Children List:</label>
                            <br>
                            <input type="text" class="form-control" formControlName="children">
                        </div>



                    </div>
                </div>
            </div>
            <button type="button"  class="btn btn-warning" (click)="addAddress()" style="cursor: pointer">
                Add another address
            </button>
            
            <button type="submit" class="btn btn-danger" [disabled]="!userForm.valid" style="cursor: pointer">SUBMIT</button>
        </form> -->
        <br>
        <pre>{{ userForm.value | json }}</pre> 
    </div> 
</div> 
