<h1>
    {{ title }}
</h1>

<form [formGroup]="userForm">
    <div class="form-group">
        <label for="name">Name:</label>
        <br>
        <input type="text" class="form-control" formControlName="name">
    </div>
    <div class="form-group">
        <label for="email">Email:</label>
        <br>
        <input type="text" class="form-control" formControlName="email">
    </div>
    <div formGroupName="address">
        <div class="form-group">
            <label for="street">Street:</label>
            <br>
            <input type="text" class="form-control" formControlName="street">
        </div>
        <div class="form-group">
            <label for="city">City:</label>
            <br>
            <input type="text" class="form-control" formControlName="city">
        </div>
        <div class="form-group">
            <label for="state">State:</label>
            <br>
            <input type="text" class="form-control" formControlName="state">
        </div>
        <!-- <div FormGroupName="zipcode">
            <div class="form-group">
                <label for="zipcode">Zipcodes You Live In:</label>
                <br>
                <input type="text" class="form-control" formControlName="zipcode">
            </div>
        </div> -->
    </div>
</form>

<hr>

<pre>{{ userForm.value | json }}</pre>
