/* You can add global styles to this file, and also import other style files */

@import 'partials/variables';
@import '../node_modules/font-awesome/scss/font-awesome';

// body {
//     background: #COOC00;
// }

body {
    background: red;
}

hr {
    border: 2px solid #C00C00;
} 

input {
    // border: 1px soild #4A4A4A;
    border: 1px soild red;
}

table {
    thead {
        tr {
            background: #4A4A4A;
            color: #ffffff;
            padding: 20px;
        }
    }
    tbody {
        border: 1px soild #4A4A4A;
    }
}